#
#  █████╗ ██╗     ██╗ █████╗ ███████╗███████╗███████╗
# ██╔══██╗██║     ██║██╔══██╗██╔════╝██╔════╝██╔════╝
# ███████║██║     ██║███████║███████╗█████╗  ███████╗
# ██╔══██║██║     ██║██╔══██║╚════██║██╔══╝  ╚════██║
# ██║  ██║███████╗██║██║  ██║███████║███████╗███████║
# ╚═╝  ╚═╝╚══════╝╚═╝╚═╝  ╚═╝╚══════╝╚══════╝╚══════╝
#

source $ZDOTDIR/aliases/base
{{- if eq .chezmoi.os "linux" }}
source $ZDOTDIR/aliases/linux
{{- if eq .chezmoi.os "darwin" }}
source $ZDOTDIR/aliases/darwin
{{- end }}
