
export LANG="en_US.UTF-8"
export LC_ALL=$LANG

export GPG_TTY=$(tty)\

export EDITOR=nvim
export VISUAL=nvim
export BROWSER=firefox

export TERM=xterm-256color

export WORKSPACE="$HOME/Dev"

export PATH="$HOME/bin:$PATH"

{{- if eq .chezmoi.os "darwin" }}
# needed for ruby 2.7.2 (otherzise ffi gem will not install)
# export LDFLAGS="-L/opt/homebrew/opt/libffi/lib"
# export CPPFLAGS="-I/opt/homebrew/opt/libffi/include"
# export PKG_CONFIG_PATH="/opt/homebrew/opt/libffi/lib/pkgconfig"
export HOMEBREW_NO_ANALYTICS=1
{{- end }}
