#
# ███████╗███████╗██╗  ██╗██████╗  ██████╗
# ╚══███╔╝██╔════╝██║  ██║██╔══██╗██╔════╝
#   ███╔╝ ███████╗███████║██████╔╝██║
#  ███╔╝  ╚════██║██╔══██║██╔══██╗██║
# ███████╗███████║██║  ██║██║  ██║╚██████╗
# ╚══════╝╚══════╝╚═╝  ╚═╝╚═╝  ╚═╝ ╚═════╝
#

source $ZDOTDIR/.zim.zsh
source $ZDOTDIR/.aliases
source $ZDOTDIR/.functions

# zsh-autosuggestions
bindkey '\e\r' autosuggest-accept # Set Autosuggestions key binging to alt-enter

# fzf
bindkey -r "^[c" # unbind meta c

# fzf-tab
zstyle -d ':completion:*' format  # Fix completion list wrong format
zstyle ':completion:*:descriptions' format '[%d]' # Fix completion list wrong format
zstyle ':fzf-tab:*' switch-group '<' '>'  # Switch group with < and
zstyle ':fzf-tab:*' fzf-command ftb-tmux-popup  # Enable tmux-popup

{{- if (and (eq .chezmoi.os "linux") (ne .chezmoi.arch "arm64")) }}

# thefuck
eval $(thefuck --alias)

# mise
eval "$(mise activate zsh)"
{{- end }}

{{- if eq .chezmoi.os "linux" }}

# keychain
keychain --eval --agents ssh,gpg > /dev/null 2>&1
{{- end }}

# greetings
if [ -z "$TMUX" ]
then
  neofetch
else
  echo ' ☠ Loaded ☠ '
fi
