Host github.com
    User git
    {{- if eq .chezmoi.hostname "krach" }}
    IdentityFile ~/.keys/ssh/krach_ed25519
	  {{- else if eq .chezmoi.hostname "aether" }}
    AddKeysToAgent yes
    UseKeyChain yes
    IdentityFile ~/.keys/ssh/aether_ed25519
	  {{- end }}

Host heroku.com
    User git
    {{- if eq .chezmoi.hostname "krach" }}
    IdentityFile ~/.keys/ssh/krach_ed25519
    {{- else if eq .chezmoi.hostname "aether" }}
    AddKeysToAgent yes
    UseKeyChain yes
    IdentityFile ~/.keys/ssh/aether_ed25519
    {{- end }}
